node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore
.next
dist
coverage
*.local
*.env.local
*.env.development
*.env.test
*.env.production
.env
tmp
logs
.husky/_/*
.venv
venv
.venv_data_consolidation
venv_data_validation
