{
  "mcpServers": {
    "context7": {
      "command": "npx",
      "args": [
        "@upstash/context7-mcp",
        "--api-key",
        "ctx7sk-038e8977-a1ba-48df-9ba3-651fe6e85c5c"
      ]  
    },
    "shadcn": {
      "command": "npx",
      "args": [
        "@jpisnice/shadcn-ui-mcp-server"
      ]
    },
    "fetch": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-fetch"
      ],
      "env": {}
    },
    "neon": {
      "command": "npx",
      "args": [
        "-y",
        "@neondatabase/mcp-server-neon",
        "start"
      ],
      "env": {
        "NEON_API_KEY": "napi_78ar5t6y154b1wq4b572mwxkutziy5g9fb3hxuqcjztuiv4dqn6aztx51i1ysshp"
      }
    },
    "postgres": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@modelcontextprotocol/server-postgres",
        "REPLACE_WITH_YOUR_DATABASE_CONNECTION_STRING"
      ],
      "env": {}
    },
    "fs": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "@modelcontextprotocol/server-filesystem"
      ],
      "env": {}
    },
    "git": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-git"
      ],
      "env": {}
    },
    "chrome-devtools": {
      "type": "stdio",
      "command": "npx",
      "args": [
        "chrome-devtools-mcp@latest"
      ],
      "env": {}
    }
  }
}
